<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Albatross</title>
        <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="styles/app.css" />
    </head>
    <body ng-app="albatross-social-network" ng-controller="myCtrl">
        <div id="main" ng-show='mainVisible'>
            <h1>Your Name</h1>
        </div>

        <div id="login" ng-show='loginVisible'>
            <form>
                Login ID: <input type="text" ng-model="login.login_id"><br>
                Password: <input type="password" ng-model="login.password"><br>
                <button ng-click="login.doLogin()">Login</button>
            </form>
        </div>

        <script src="node_modules/angular/angular.js"></script>
        <script src="node_modules/angular-messages/angular-messages.js"></script>
        <script src="scripts/app.js"></script>
    </body>
</html>
